.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 768px;
}
