*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-white: #fefefe;
  --color-black: #333;
  --color-gray: #aaacad;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  background: var(----color-white);
  color: var(----color-black);
}

input,
label,
textarea {
  font: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
